@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope.ttf");
}

* {
  font-family: "Manrope";
  font-weight: 800;
}

body {
  background: #1f2632 !important;
}

$theme-colors: (
  "primary": #cee3e9,
  "secondary": #323a49,
  "info": #52ffa8,
  "light": #4e5d73,
);

@import "bootstrap/scss/bootstrap";
