@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope.ttf");
}

* {
  font-family: "Manrope";
  font-weight: 800 !important;
}

body {
  background: #1f2632 !important;
}

.my-modal {
  div > div {
    background: #323a49;
    border-radius: 7px;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.custom-p {
  font-size: 28px;
}

.custom-btn {
  background: #52ffa8;
  border: none;
  position: absolute;
  left: 10;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);

  & > img {
    margin: 14px 10px;
  }

  &:hover {
    box-shadow: 0px 0px 20px 2px #52ffa8;
  }
}

.custom-title {
  font-size: 15px;
  letter-spacing: 2px;
}

$theme-colors: (
  "primary": #cee3e9,
  "secondary": #323a49,
  "info": #52ffa8,
  "light": #4e5d73,
);

@import "bootstrap/scss/bootstrap";
